/* css for the disallowed.html webpage */

#msg {
	position:relative;
	margin: 80px auto;
	width:660px;
	height:400px;
}

.banner {
	position:absolute;
	font-size:48px;
	font-weight:bold;
	left:260px;
	top:90px;
	color:#505050;
	
}
