


.nextButton {
	position: relative;
	left:85%;
	top:40px;
}
.registerButton {
	position: absolute;
	left:100%;
	top:50px;
}

.bricksButton {
	position: relative;
	left:80%;
	top:80px;
}




#network-select:hover {
	border:1px solid #FF9900;
	
}

.active {
	text-align:left;
	text-indent:10px;
	line-height:30px;
	font-family: "arial";
	font-size:16px;
	font-weight: bold;
	color:white;
	width:160px;
	/*height:30px;*/
	background-color:#505050;
	border-radius:5px;
	font-style: normal;
	/*text-shadow: 0px 2px 3px #555;*/
	/*margin-left:10px;*/
	margin-bottom:20px;
}



.pending {
	text-align:left;
	text-indent:10px;
	line-height:30px;
	/*height:30px;*/
	font-family: "arial";
	font-size:16px;
	font-weight: bold;
	font-style: normal;
	color:#505050;
	/*font-variant: normal;*/
	/*text-shadow: 0px 2px 3px #555;*/
	margin-bottom:20px;

}

.done {
	text-align:left;
	text-indent:10px;
	line-height:30px;
	font-family: "arial";
	font-size:16px;
	font-weight: bold;
	font-style: normal;
	color:#1a82f7;
	/*font-variant: normal;*/
	/*text-shadow: 0px 2px 3px #555;*/
	margin-bottom:20px;

}



#access {
	background-color: #cccccc;
	display: block;
	/*width: 98%;*/
	width: 475px;
	height: 100px;
	left:250px; 
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
    position: relative;
    z-index:99;
    top: 100px;
    opacity: 100;
    transition: opacity .75s;
}

#access.fade {
	opacity:0;
}

#inputData {
	display: inline-block;
	margin-top: 30px;
	margin-left: 14%;
	width: 380px;
	height: 50px;
}

input[type='text'] {
	border-color:#FF9900;
	font-family: monospace;
	font-size: 14px;
	background-color: #e5e5e5;
	color: #505050;
	font-weight:bold;
}
input[type='text']:disabled {
border-color:#808080;
background-color:#ededed;
color:#c8c8c8;

}
input[type='text'].error {
	border-color:red;
}


li {
margin-left: 15px;
}

#container {
	overflow:hidden;
	position:relative;
	/*border:1px solid gray; */
	left:250px;
	top:-100px;
	width:650px;
	height:600px;
	z-index:1;
	background-color:#ededed;
}





#overview {
	position: absolute;
	left: 650px;
	overflow:hidden;
	top:0px;
	width:650px;
	height:600px;
	z-index:2;
	text-align:justify;
	transition: left .7s linear;
	opacity: 100;
	background-color:#ededed;
	
}
#overview.slide {
left:0px;
}	

#nodes {
	position: absolute;
	left: 650px;
		overflow:hidden;
	top:0px;
	width:650px;
	height:600px;
	z-index:3;
	text-align:justify;
	transition: left .7s linear;
	opacity: 100;
	background-color:#ededed;
}
#nodes.slide {
left: 0px;
}

#keys {
	position: absolute;
	left: 650px;
		overflow:hidden;
	top:0px;
	width:650px;
	height:600px;
	z-index:4;
	text-align:justify;
	transition: left .7s linear;
	opacity: 100;
	background-color:#ededed;
}
#keys.slide {
left: 0px;
}
#keysArea {
position: absolute;
left:90px;
top: 250px;
width:400px;
height:350px;

}
#keysTable th:first-child {
width:200px;
}
#keysTable th:last-child {
width:150px;
}


#disks {
	position: absolute;
	left: 650px;
		overflow:hidden;
	top:0px;
	width:650px;
	height:600px;
	z-index:5;
	text-align:justify;
	transition: left .7s linear;
	opacity: 100;
	background-color:#ededed;
}
#disks.slide {
left: 0px;
}
#diskTable th:first-child {
width:200px;
}
#snapshotValue {
	position:relative;
	top:-2px;
	width:30px;
	height:18px;
	background:#606060;
	color:white;
	font-weight:bold;
	border:1px solid #909090;
	display:inline-block;
	text-align:center;
	border-radius:8px;
}

#diskArea {
position: absolute;
left:90px;
top: 160px;
width:400px;
height:350px;
z-index: 5;
transition: opacity .75s; 
opacity: 0;

}

#diskArea.show {
opacity: 100;
}

#bricks {
	position: absolute;
	left: 650px;
		overflow:hidden;
	top:0px;
	width:650px;
	height:600px;
	z-index:6;
	text-align:justify;
	transition: left .7s linear;
	opacity: 100;
	background-color:#ededed;
}
#bricks.slide {
left: 0px;
}
#volCreate {
	position: absolute;
	left: 650px;
	overflow:hidden;
	top:0px;
	width:650px;
	height:600px;
	z-index:7;
	text-align:justify;
	transition: left .7s linear;
	opacity: 100;
	background-color:#ededed;
}
#volCreate.slide {
left: 0px;
}
#finish {
	position: absolute;
	left: 650px;
		overflow:hidden;
	top:0px;
	width:650px;
	height:600px;
	z-index:50;
	text-align:justify;
	transition: left .7s linear;
	opacity: 100;
	background-color:#ededed;
}
#finish.slide {
left: 0px;
}

#error {
	position: absolute;
	left: 650px;
		overflow:hidden;
	top:0px;
	width:650px;
	height:600px;
	z-index:98;
	text-align:justify;
	transition: left .7s linear;
	opacity: 100;
	background-color:#ededed;
}

#error.slide {
left: 0px;
}


#nodeSelect {
	opacity:0;
	z-index:3;
	transition: opacity .75s;
}
#nodeSelect.show {
	opacity:100;

}


#candidateNodes {
	width: 150px;
	position:absolute;

}

#addNodes {
	position:absolute;
	left:190px;
	width:37px;
}

#createCluster {
position:absolute;
left:480px;
}

#selectedNodes {
	width: 150px;
	position:absolute;
	left:300px;

}

#steps {
position:absolute;
top:90px;
left:20px;
border:1px solid #d8d8d8;
border-radius:8px;
z-index:-1;
width:185px;
height:370px;
opacity: 100;
background-color: #f8f8f8;

}

#busy {
position:fixed;
background-color: white;
top:180px;
left:390px;
width:250px;
height:250px;
border:1px;
border-color:#909090;
border-radius:8px;
    box-shadow: 5px 5px 5px #888888;
z-index:100;
visibility:hidden;
}

#busyGraphic {
position:relative;
height:100px; 
width:100px;
    
    margin: auto auto;
    top:10px;
}
#busyGraphic.spinner {
background: #ffffff url('../images/busy.gif') no-repeat center top;
}
#busyGraphic.success {
background: #ffffff url('../images/tick.png') no-repeat center top;
}
#busyGraphic.error {
background: #ffffff url('../images/warn.png') no-repeat center top;
}

#busyMsg {
position:absolute;
top:120px;
width:250px;
text-align:center;
}



#page-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
}

		/********************************/
		/* Create Volume CSS attributes */
		/********************************/

.brickPool {
	width: 208px;
	min-height:305px;
	font-size:12px;
	font-family:monospace;
}

.useBrick {
	position:absolute;
	left:214px;
	/* top:-328px; */
	color:#404040;
	width:37px;

}

.delbtn {
	padding: 0px 0px 2px 8px ;
	font-weight:bold;
	width:30px;
	height:25px;
}
.createBtn {
	height:25px;
	color:#404040;
	font-size:12px;
	font-weight:bold;
	width:80px;
}


#brickLayout {
	position:absolute;
	overflow-y:auto;
	border:0px solid black; /*debug only */
	top:222px;
	left:260px;
	width:343px;
	height:297px;
}
#brickTable {
	margin:0px;
	width:330px;
}
#brickTable td:first-child {
	width:295px;
}
#brickTable td:last-child {
	width:35px;
}
#brickHeaders {
	position:absolute;
	top:170px;
	left:240px;
	width:330px;
}

#protocols {
	position:relative;
	left:20px;
}
.protocols {
	left:2px;
	top:4px;
}

#configSummary {
    position: relative;
    top:-25px;
	/*margin:5px auto;*/
	width:550px;
	height:60px;
}
#configSummary th {
padding:5px 10px 5px 10px; 
}

#goodbye {
	display:block;
	opacity: 0;
    transition: opacity .75s;
    width:400px;
}
	
#goodbye.reveal {
	opacity:100;
}
	
